.profile {
	margin: auto;
	width: 1280px;
	height: 605px;
	margin: auto;
	display: flex;
	flex-direction: column;
	padding-top: 71px;
}
@media screen and (max-width: 1279px) {
	.profile {
		width: 768px;
		height: 550px;
		padding-top: 230px;
	}
}

@media screen and (max-width: 767px) {
	.profile {
		width: 320px;
		padding-top: 67px;
	}
}

.profile__title {
	margin: 0;
	text-align: center;
	margin-bottom: 107px;
	color: #fff;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

@media screen and (max-width: 1279px) {
	.profile__title {
		margin: 0 auto;
		margin-bottom: 81px;
	}
}

@media screen and (max-width: 767px) {
	.profile__title {
		margin-bottom: 63px;
	}
}

.profile__form {
	width: 410px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

@media screen and (max-width: 767px) {
	.profile__form {
		width: 260px;
	}
}

.profile__input-element {
	display: flex;

	align-content: space-around;
	width: 410px;
	margin-bottom: 1px;
}

@media screen and (max-width: 767px) {
	.profile__input-element {
		width: 260px;
	}
}

.profile__line {
	margin: 0;
	border-bottom: 1px solid #424242;
	margin-bottom: 1px;
}

.profile__input {
	padding: 0;
	width: 392px;
	height: 45px;
	border-radius: 8px;
	background: none;
	border: none;
	color: #fff;
	font-size: 11px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-align: right;
	outline: none;
}

.profile__input_error {
	color: #b41e1e;
}

.profile__field {
	margin: 0;
	margin-top: 16px;
	width: 50px;
	color: #fff;
	text-align: left;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

@media screen and (max-width: 767px) {
	.profile__field {
		width: 60px;
	}
}

.profile__mes-error {
	height: 10px;
	margin: auto;
	color: #ff004c;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 172px;
}

@media screen and (max-width: 1279px) {
	.profile__mes-error {
		margin-top: 162px;
	}
}

.profile__mes_good {
	color: #00ff37;
}

.profile__behaviour {
	display: flex;
	flex-direction: column;
}

.profile__edit {
	margin: 0;
	margin-top: 17px;
	color: #fff;
	text-align: center;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration: none;
	cursor: pointer;
}

@media screen and (max-width: 1279px) {
	.profile__edit {
	}
}

@media screen and (max-width: 767px) {
	.profile__edit {
	}
}

.profile__signout {
	margin: 0;
	margin-top: 16px;
	color: #ee3465;
	text-align: center;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration: none;
}

.profile__button-submit {
	margin-top: 17px;
	border: none;
	width: 410px;
	height: 45px;
	flex-shrink: 0;
	border-radius: 3px;
	background: #3456f3;
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.profile__button-submit_disabled {
	pointer-events: none;
	background: #f8f8f8;
	color: #000;
}

@media screen and (max-width: 767px) {
	.profile__button-submit {
		width: 260px;
	}
}
