.moviesCardList {
	margin: 0;
	margin-top: 43px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-flow: row wrap;
	width: 1140px;
}

@media screen and (max-width: 1279px) {
	.moviesCardList {
		width: 708px;
		margin-top: 53px;
	}
}

@media screen and (max-width: 767px) {
	.moviesCardList {
		width: 300px;
		margin-top: 39px;
	}
}

.moviesCardList__buttonAdd {
	padding: 0;
	width: 1140px;
	height: 36px;
	margin-top: 60px;
	margin-bottom: 77px;
	border-radius: 6px;
	background: #2f2f2f;
	border: none;
	color: #fff;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	cursor: pointer;
}

.moviesCardList__buttonAdd_hide {
	display: none;
}

.moviesCardList__buttonAdd:hover {
	opacity: 0.7;
}

@media screen and (max-width: 1279px) {
	.moviesCardList__buttonAdd {
		margin-top: 80px;
		margin-bottom: 113px;
	}
}

@media screen and (max-width: 767px) {
	.moviesCardList__buttonAdd {
		margin-top: 71px;
		margin-bottom: 136px;
	}
}
.notFound {
	width: 1140px;
	margin: auto;
	margin-top: 150px;
	margin-bottom: 193px;
	color: #fff;
	display: flex;
	justify-content: center;
}

.notFound_error {
	color: #a51414;
}

@media screen and (max-width: 1279px) {
	.notFound {
		width: 708px;
		margin-top: 170px;
		margin-bottom: 156px;
	}
}

@media screen and (max-width: 767px) {
	.notFound {
		width: 300px;
		margin-top: 150px;
		margin-bottom: 176px;
	}
}
