.navTab {
	margin: auto;
	display: flex;
	justify-content: center;
	height: 66px;
	background-color: #272727;
}

@media screen and (max-width: 1279px) {
	.navTab {
		max-width: 768px;
	}
}

@media screen and (max-width: 767px) {
	.navTab {
		width: 320px;
	}
}

.navTab__container {
	display: flex;
}

@media screen and (max-width: 1279px) {
	.navTab__container {
		margin-left: 0px;
	}
}

@media screen and (max-width: 767px) {
	.navTab__container {
		margin-left: 25px;
	}
}

.navTab__nav {
	margin: 0;
	padding: 0;
	margin-top: 28px;
	margin-left: 20px;
	margin-right: 25px;
	color: #fff;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	text-decoration-line: underline;
	letter-spacing: -1px;
}

.navTab__nav:hover {
	opacity: 0.7;
}

@media screen and (max-width: 1279px) {
	.navTab__nav {
		margin-top: 29px;
		margin-left: 20px;
		margin-right: 20px;
		font-size: 13px;
		letter-spacing: 0px;
	}
}

@media screen and (max-width: 767px) {
	.navTab__nav {
		margin-top: 26px;
		margin-left: 0;
		margin-right: 25px;
		font-size: 11px;
	}
}
