.access-page {
	margin: auto;
	width: 1280px;
	min-height: 768px;
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 1279px) {
	.access-page {
		width: 768px;
	}
}

@media screen and (max-width: 767px) {
	.access-page {
		width: 320px;
	}
}

.access-page__title {
	margin: 0;
	margin-top: 20px;
	margin-left: 442px;
	margin-bottom: 40px;
	color: #fff;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

@media screen and (max-width: 1279px) {
	.access-page__title {
		margin-left: 184px;
	}
}

@media screen and (max-width: 767px) {
	.access-page__title {
		width: 320px;
		margin: 0;
		display: flex;
		justify-content: center;
		margin-top: 29px;
		margin-bottom: 82px;
	}
}

.access-page__form {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

.access-page__button-submit {
	margin: 0;
	width: 396px;
	height: 45px;
	border-radius: 3px;
	background: #3456f3;
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	border: none;
	position: absolute;
	top: 553px;
}

.access-page__button-submit:hover {
	opacity: 0.8;
}

@media screen and (max-width: 767px) {
	.access-page__button-submit {
		width: 260px;
		top: 676px;
		color: #fff;
		font-size: 12px;
	}
}

.access-page__input {
	width: 392px;
	height: 45px;
	border-radius: 8px;
	background: #2f2f2f;
	border: none;
	margin-bottom: 8px;
	color: #fff;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-indent: 13px;
	letter-spacing: 0.5px;
	outline: none;
}

@media screen and (max-width: 767px) {
	.access-page__input {
		width: 257px;
	}
}

.access-page__mes-error {
	margin: 0;
	color: #ee3465;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	opacity: 1;
	position: relative;
	left: 0px;
	transition: 0.3s;
	display: inline-block;
}

.access-page__mes-error_acvive {
	opacity: 1;
}

.access-page__input-content {
	margin: 0;
	margin-bottom: 9px;
	color: #8b8b8b;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.access-page__alternative {
	width: 396px;
	position: absolute;
	top: 597px;
	right: auto;
}

@media screen and (max-width: 767px) {
	.access-page__alternative {
		width: 260px;
		top: 717px;
	}
}

.access-page__alternative-text {
	margin: 0;
	margin-top: 17px;
	color: #8b8b8b;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.access-page__alternative-link {
	color: #4285f4;
	text-decoration: none;
}

.access-page__alternative-link:hover {
	opacity: 0.8;
}

@media screen and (max-width: 767px) {
	.access-page__alternative-text {
		font-size: 12px;
		margin-top: 18px;
	}
}
