.moviesCard {
	margin-top: 37px;
	padding-bottom: 16px;
	margin-right: 24px;
	cursor: pointer;
	border-radius: 6px;
	background: #222;
}

.moviesCard:nth-child(3n) {
	margin-right: 0px;
}

@media screen and (max-width: 1279px) {
	.moviesCard {
		margin-right: 30px;
		margin-top: 26px;
	}
	.moviesCard:nth-child(3n) {
		margin-right: 30px;
	}
	.moviesCard:nth-child(2n) {
		margin-right: 0px;
	}
}

@media screen and (max-width: 767px) {
	.moviesCard {
		margin-right: 10px;
		margin-top: 11px;
	}
	.moviesCard:nth-child(3n) {
		margin-right: 0px;
	}
	.moviesCard:nth-child(2n) {
		margin-right: 0px;
	}
	.moviesCard:nth-child(1n) {
		margin-right: 0px;
	}
}

.moviesCard__container-description {
	width: 364px;
	display: flex;
	flex-flow: row wrap;
}

@media screen and (max-width: 1279px) {
	.moviesCard__container-description {
		width: 339px;
	}
}

@media screen and (max-width: 767px) {
	.moviesCard__container-description {
		width: 300px;
	}
}

.moviesCard_link {
	margin: 0;
}

.moviesCard_link:hover {
	opacity: 0.7;
}

.moviesCard__img {
	margin: 0;
	padding: 0;
	width: 364px;
	height: 203px;
}

@media screen and (max-width: 1279px) {
	.moviesCard__img {
		width: 339px;
		height: 190px;
	}
}

@media screen and (max-width: 767px) {
	.moviesCard__img {
		width: 300px;
		height: 168px;
	}
}

.moviesCard__title {
	width: 290px;
	margin: 0;
	margin-top: 12px;
	margin-left: 16px;
	color: #fff;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

@media screen and (max-width: 1279px) {
	.moviesCard__title {
		margin-left: 15px;
		width: 260px;
		margin-top: 11px;
	}
}

@media screen and (max-width: 767px) {
	.moviesCard__title {
		margin-left: 14px;
		width: 240px;
		font-size: 12px;
	}
}

.moviesCard__likes {
	padding: 0;
	margin: 0;
	margin-top: 5px;
	margin-left: 12px;
	border: none;
	width: 30px;
	height: 30px;
	background-color: transparent;
	background-image: url(../../../images/likeOff.svg);
	background-repeat: no-repeat;
	cursor: pointer;
}

@media screen and (max-width: 1279px) {
	.moviesCard__likes {
		margin-left: 20px;
	}
}

@media screen and (max-width: 767px) {
	.moviesCard__likes {
		margin-top: 3px;
		margin-left: 6px;
	}
}

.moviesCard__likes_active {
	background-image: url(../../../images/likeON.svg);
}

.moviesCard__likes:hover {
	background-image: url(../../../images/likeDel.svg);
}

.moviesCard__duration {
	margin: 0;
	margin-top: 10px;
	margin-left: 16px;
	color: #8b8b8b;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
@media screen and (max-width: 1279px) {
	.moviesCard__duration {
		margin-left: 15px;
		margin-top: 7px;
	}
}

@media screen and (max-width: 767px) {
	.moviesCard__duration {
		margin-top: 6px;
		margin-left: 14px;
	}
}
